<html class="catalog">

<head>
  <title>Panther Lounge Database</title>
  <script src="../js/script.js"></script>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="favicon" href="../images/lounge_logo_trans.png" />
</head>

<header>
  <h1><a href="../index">The Panther Lounge</a></h1>
</header>

<body>
  <h2 th:text="${message}"> 
    <span>message will print here</span> 
  </h2>  

  <h2>
    Edit Items
  </h2>
  <label for="editItem"> Edit an item </label>
  <form id="editItem" th:object="${changeForm}" th:action="@{/admin/edit/change}" method="post">
    <input placeholder="ID" type="text" id="editID" th:field="*{id}"/>
    OR
    <input placeholder="Name" type="text" id="editName" th:field="*{name}"/>
    <br />
    <input placeholder="Type" type="text" id="editType" th:field="*{type}"/>
    <select name="Club" id="editClub" th:field="*{club}">
      <option value="N/A" disabled selected="selected">Club</option>
      <option value="anime">Anime Club</option>
      <option value="fitssff">FITSSFF</option>
    </select>
    <input placeholder="Location" type="text" id="editLocation" th:field="*{shelf}"/>
    <input placeholder="Series" type="text" id="editSeries" th:field="*{series}"/>
    <input placeholder="Status" type="text" id="editStatus" th:field="*{status}"/>
    <input placeholder="Rating" type="text" id="editRating" th:field="*{rating}"/>
    <input placeholder="Description" type="text" id="editDescription" th:field="*{description}"/>
    <input type="submit" />
  </form>

  <h2>
    Add Items
  </h2>

  <label for="addItem"> Add an item </label>
  <form id="addItem" th:object="${addForm}" th:action="@{/admin/edit/add}" method="post">
    <input placeholder="ID" type="text" id="addID" th:field="*{id}"/>
    <input placeholder="name" type="text" id="addName" th:field="*{name}"/>
    <input placeholder="type" type="text" id="addType" th:field="*{type}"/>
    <select name="Club" id="addClub" th:field="*{club}">
      <option value="N/A" disabled selected="selected">Club</option>
      <option value="anime">Anime Club</option>
      <option value="fitssff">FITSSFF</option>
    </select>
    <input placeholder="location" type="text" id="addLocation" th:field="*{shelf}"/>
    <input placeholder="series" type="text" id="addSeries" th:field="*{series}"/>
    <input placeholder="status" type="text" id="addStatus" th:field="*{status}"/>
    <input placeholder="rating" type="text" id="addScoreRating" th:field="*{rating}"/>
    <input placeholder="description" type="text" id="addDescription" th:field="*{description}"/>
    <input type="submit" />
  </form>

  <label for="addMultiple"> Add multiple items </label>
  <form id="addMultiple">
    <input type="file" id="addFile" name="filename" accept=".csv" multiple />
  </form>

  <h2>
    Remove Items
  </h2>

  <label for="removeItem"> Remove an item </label>
  <form id="removeItem" th:object="${removeForm}" th:action="@{/admin/edit/remove}" method="post">
    <input placeholder="ID" type="text" id="removeID" th:field="*{id}"/>
    OR
    <input placeholder="name" type="text" id="removeName" th:field="*{name}"/>
    <br /><input type="submit" />
  </form>

  <label for="removeMultiple"> Remove multiple items </label>
  <form id="removeMultiple">
    <input type="file" id="removeFile" name="filename" accept=".csv" multiple />
  </form>

  <input type="submit" />
</body>

</html>