<html class="catalog">

<head>
  <title>Catalog</title>
  <script src="../js/script.js"></script>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="favicon" href="../images/lounge_logo_trans.png" />
</head>

<header>
  <h1><a href="../index">The Panther Lounge</a></h1>
  <form th:object="${searchQuery}" th:action="@{/catalog/searchProcess}" method="post">
    <input id="searchBar" type="text" th:field="*{name}"
      placeholder="Search for manga, novels, TTRPG manuals, board games, trading cards..." />
    <input type="submit" value="Search" />
  </form>
</header>

<body onload="check()">
      <table id="catalog">
         <colgroup>
            <col id="itemID" span="1" />
            <col id="itemName" span="1" />
            <col id="itemType" span="1" />
            <col id="itemSeries" span="1" />
            <col id="itemLocation" span="1" />
            <col id="itemStatus" span="1" />
            <col id="itemRating" span="1" />
            <col id="itemClub" span="1" />
            <col id="itemDescription" span="1" />
            <col id="itemOther" span="1" />
         </colgroup>
            <tr id="header">
               <th>ID</th>
               <th>Name</th>
               <th>Type</th>
               <th>Series</th>
               <th>Shelf &#38; Section</th>
               <th>Status</th>
               <th>Rating</th>
               <th>Club</th>
               <th>Description</th>
               <!-- remember to add specific information for certain item types -->
            </tr>
            <tr th:each="item : ${displayItems}">
               <td><span th:text="${item.id}">ITEM.ID</span></td>
               <td><span th:text="${item.name}" >ITEM.NAME</span></td>
               <td><span th:text="${item.type}" >ITEM.TYPE</span></td>
               <td><span th:text="${item.series}" >ITEM.SERIES</span></td>
               <td><span th:text="${item.shelf}" >ITEM.SHELF</span></td>
               <td><span th:text="${item.status}" >ITEM.STATUS</span></td>
               <td><span th:text="${item.rating}" >ITEM.RATING</span></td>
               <td><span th:text="${item.club}" >ITEM.CLUB</span></td>
               <td><span th:text="${item.description}" >ITEM.DESCRIPTION</span></td>
           </tr>
      </table>
</body>

<footer id="boxes">
   <input id="itemIDBox" onclick="columnVis('itemID')" type="checkbox" />
   <label for="itemIDBox"> ID </label>
   <input id="itemNameBox" onclick="columnVis2('itemName')" type="checkbox" />
   <label for="itemNameBox"> Name </label>
   <input id="itemTypeBox" onclick="columnVis('itemType')" type="checkbox" />
   <label for="itemTypeBox"> Type </label>
   <input id="itemSeriesBox" onclick="columnVis('itemSeries')" type="checkbox" />
   <label for="itemSeriesBox"> Series </label>
   <input id="itemLocationBox" onclick="columnVis('itemLocation')" type="checkbox" />
   <label for="itemLocationBox"> Shelf &#38; Section </label>
   <input id="itemStatusBox" onclick="columnVis('itemStatus')" type="checkbox" />
   <label for="itemStatusBox"> Status </label>
   <input id="itemRatingBox" onclick="columnVis('itemRating')" type="checkbox" />
   <label for="itemRatingBox"> Rating </label>
   <input id="itemClubBox" onclick="columnVis('itemClub')" type="checkbox" />
   <label for="itemClubBox"> Club </label>
   <input id="itemDescriptionBox" onclick="columnVis2('itemDescription')" type="checkbox" />
   <label for="itemDescriptionBox"> Description </label>
   <input id="itemOtherBox" onclick="columnVis('itemOther')" type="checkbox" />
   <label for="itemOtherBox"> Other </label>
</footer>

</html>