<!DOCTYPE html> 

<html>

<head>
   <title>Panther Lounge Database</title>
   <script src="../js/script.js"></script>
   <link rel="stylesheet" href="../css/style.css" />
   <link rel="favicon" href="../assets/lounge_logo_trans.png" />
</head>

<header id="login">
      <span th:if="${param.error}">
			Invalid username and password.</span>
	  <span sec:authorize="!isAuthenticated()">
      <form th:action="@{/login}" method="post">
      <input name="username" type="text" placeholder="username"/>
      <input name="password" type="password" autocomplete="off" placeholder="password"/>
      <input type="submit" value = "Sign In">
      </button>
      </form>
	  </span>
	  <span sec:authorize="isAuthenticated()">
	  <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
		</span>
</header>

<body class="home">
   <h1>
      Welcome to the Panther Lounge <span th:remove="tag" sec:authentication="name"></span>
      <br>
      <span onclick="login()" sec:authorize="!isAuthenticated()" id="name">click to sign in.</span>
	  <span onclick="login()" sec:authorize="isAuthenticated()" id="name">click to sign out.</span>
   </h1>

   <form th:object="${searchQuery}" th:action="@{/catalog/searchProcess}" method="post">
         <input id="searchBar" type="text" th:field="*{name}"
            placeholder="Search for manga, novels, TTRPG manuals, board games, trading cards..." />
        <button onclick="submit">Search</button>
      <br />
      <a href="catalog">View Entire Catalog</a>
      <a href="catalog/advanced">Advanced Search</a>

   </form>
   <a href="checkout" sec:authorize="isAuthenticated()">Check out an item</a>
   <a href="checkin" sec:authorize="isAuthenticated()">Return an item</a>
</body>

<footer>
   <nav>
      <a href="https://linktr.ee/floridatechanimeclub">
         Anime Club's Linktree
      </a>
      <a href="https://linktr.ee/fitssff"> FITSSFF's Linktree </a>
   </nav>
</footer>

</html>
